FLASK_APP=core/wsgi.py
FLASK_CONFIG=development
SECRET_KEY=SOME-SECRET-KEY
TEST_DATABASE_URI=postgresql://postgres:postgres@test-db:5432/postgres_dev
DATABASE_URI=postgresql://postgres:postgres@db:5432/postgres_dev
CORS_ORIGINS='["http://localhost:3000"]'

# Gemini vars
GEMINI_API_KEY=GEMINI_API_KEY
GEMINI_TRANSCRIPTION_MODEL=gemini-3.1-flash-lite

# Fireworks vars
FIREWORKS_API_KEY=your-fireworks-api-key
FIREWORKS_DEFAULT_MODEL=accounts/fireworks/models/llama-v3p1-8b-instruct
# FIREWORKS_MODEL=accounts/fireworks/models/llama-v3p1-70b-instruct
FIREWORKS_MODEL=accounts/fireworks/models/deepseek-v4-pro
FIREWORKS_API_URL=https://api.fireworks.ai/inference/v1/chat/completions
FIREWORKS_SUMMARIZATION_MODEL=accounts/fireworks/models/deepseek-v4-pro
FIREWORKS_SUMMARIZATION_BASE_URL=https://api.fireworks.ai/inference/v1

# Whisper vars
# TRANSCRIPTION_ENGINE=gemini
TRANSCRIPTION_ENGINE=whisper
WHISPER_ENDPOINT_URL=your-whisper-endpoint-url
