FLASK_APP=core/wsgi.py
FLASK_CONFIG=development
SECRET_KEY=SOME-SECRET-KEY
TEST_DATABASE_URI=postgresql://postgres:postgres@test-db:5432/postgres_dev
DATABASE_URI=postgresql://postgres:postgres@db:5432/postgres_dev
CORS_ORIGINS='["http://localhost:5000"]'

# Gemini vars
GEMINI_API_KEY=GEMINI_API_KEY